{
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120
      }
    }
  ]
}
